{% extends 'base.html' %}
{% block title %}Bookmarks{% endblock %}

{% block body %}
  <h1>My Bookmarks</h1>
  <ul>
    {% for bookmark in bookmarks %}
      <li class="bookmark-item" id="{{ bookmark.location_id }}">
        <a href="/locations/{{ bookmark.location_id }}">
          {{ bookmark.location.name }} {{ bookmark.location.addr }}
        </a>
        <button class="bookmark" id="{{ bookmark.location_id }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="bookmark-icon w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
          </svg>
        </button>

        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-bookmark" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg> -->

        <button id="test_btn" class="test_btn btn btn-primary">TEST</button>
      </li>
    {% endfor %}
  </ul>

<script src="/static/js/removeBookmark.js"></script>
{% endblock %}
