{% extends 'base.html' %}
{% block title %}Bookmarks{% endblock %}

{% block body %}
  <div class="mx-16 my-4 pb-3">
    <div class="border-b border-gray-200 pb-3">
      <h3 class="text-lg font-medium leading-6 text-gray-900">My bookmarks</h3>
    </div>
    <!-- <div class="content-center ml-2 mb-3">
      <h2 class="text-lg font-medium text-gray-600">My bookmarks</h2>
    </div> -->
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 mt-5">
      {% for bookmark in bookmarks %}
        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <button class="bookmark z-10 absolute top-3 right-3" onclick="removeBookmark({{bookmark.location.location_id}})" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="bookmark-icon w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
              </svg>
            </button>
            <a href="/locations/{{ bookmark.location.location_id }}" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-md font-medium text-gray-900">{{ bookmark.location.name }}</p>
              <p class="truncate text-sm text-gray-500">{{ bookmark.location.addr }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- <h1>My Bookmarks</h1> -->
  <!-- <ul>
    {% for bookmark in bookmarks %}
      <li class="bookmark-item" id="{{ bookmark.location_id }}">
        <a href="/locations/{{ bookmark.location_id }}">
          {{ bookmark.location.name }} {{ bookmark.location.addr }}
        </a>
        <button class="bookmark" id="{{ bookmark.location_id }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="bookmark-icon w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
          </svg>
        </button>
      </li>
    {% endfor %}
  </ul> -->

<script src="/static/js/removeBookmark.js"></script>
{% endblock %}
