<div class="flex h-full">
  <!-- Narrow sidebar -->

  <!-- Content area -->
  <div class="flex flex-1 flex-col overflow-hidden">
    <!-- Main content -->
    <div class="flex flex-1 items-stretch overflow-hidden">
      <main class="flex-1 overflow-y-auto">
        <div class="mx-auto max-w-7xl px-10 pt-2 sm:px-6 lg:px-10">
          <div class="flex">
            <h1 class="flex-1 text-2xl font-medium text-gray-900">Broadcasts</h1>
          </div>

          <!-- Divider -->
          <div class="mt-3 sm:mt-2 hidden sm:block">
            <div class="flex items-center border-b border-gray-300"></div>
          </div>

          <!-- Comments -->
          <section class="mt-2 pb-16" aria-labelledby="gallery-heading">
            <div class="divide-y divide-gray-200">
              <div class="px-4 py-6 sm:px-6">
                <ul role="list" class="space-y-4 mx-8">
                  {% for comment in comments %}
                    <li class="border-1 border-blue-800 rounded-md px-3 py-3">
                      <div class="flex space-x-3">
                        <div class="flex-shrink-0">
                          <!-- <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
                          <!-- <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                        <div>
                          <div class="text-sm">
                            <a href="#" class="font-medium text-gray-900">{{ comment.user.fname }} {{ comment.user.lname }}</a>
                          </div>
                          <div id="comment-div" class="mt-1 text-sm text-gray-700">
                            <p id="comment-id-{{ comment.comment_id }}" class="comment">{{ comment.comment }}</p>
                            <textarea id="edit-input-id-{{ comment.comment_id }}" rows="3" class="hidden edit-input w-96 px-2 border-blue-700 border-2 rounded-md" type="text" value="{{ comment.comment }}" onkeypress="clickPress(event)">{{ comment.comment }}</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="flex justify-end">
                          <div class="mt-2 space-x-2 text-sm">
                            <span class="font-medium text-gray-500">{{ comment.created_at.strftime('%-I:%M %p %b %-d %Y') }}</span>
                            {% if user.user_id == comment.user_id %}
                              <span class="font-medium text-gray-500">&middot;</span>
                              <button type="button" id="edit-comment-btn-id-{{ comment.comment_id }}" class="edit-comment-btn font-medium text-gray-900">Edit</button>
                            {% else %}
                              <button type="button" id="edit-comment-btn-id-{{ comment.comment_id }}" class="edit-comment-btn hidden font-medium text-gray-900">Edit</button>
                            {% endif %}
                          </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="bg-gray-50 mt-2 px-4 py-6 sm:px-6 sm:mx-14">
              <div class="flex space-x-3">
                {% if session.get('user_email') %}
                  <div class="flex-shrink-0">
                    <!-- <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt=""> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                  </div>
                  <div class="min-w-0 flex-1">
                    <form action="/locations/{{ location.location_id }}/comments" method="POST">
                      <div>
                        <label for="comment" class="sr-only">About</label>
                        <textarea id="comment" name="comment" rows="3" class="block w-full p-2 rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" placeholder="Add a comment"></textarea>
                      </div>
                      <div class="mt-3 flex items-center justify-end">
                        <button type="submit" class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Comment</button>
                      </div>
                    </form>
                  </div>
                {% else %}
                  <div class="min-w-0 flex-1 flex justify-content-center">
                    <a href="/login" class="rounded-md px-3 py-2 justify-content-center text-sm font-medium text-white bg-blue-600 hover:bg-gray-700 hover:text-white">Log in</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </section>
        </div>
      </main>

      <!-- Details sidebar -->
      <aside class="hidden w-96 overflow-y-auto border-l border-gray-300 bg-white py-2 px-4 lg:block">
        <div class="space-y-6 pb-16">
          <div>
            <div class="flex items-start justify-between">
              <div class="mb-3">
                <h2 class="text-lg font-medium text-gray-900"><span class="sr-only">Location name</span>{{ location.name }}</h2>
                <p class="text-sm font-medium text-gray-500">{{ location.addr }}</p>
              </div>
              <button type="button" class="ml-4 flex h-8 w-8 items-center justify-center rounded-full bg-white text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                <!-- bookmark icon -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="bookmark-icon w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                </svg>
                <span class="sr-only">Bookmark</span>
              </button>
            </div>
            <!-- Map -->
            <div class="aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg">
              <div id="map-location" style="height: 300px; width: 100%;"></div>
            </div>
          </div>
          <div>
            <h3 class="font-medium text-gray-900">Information</h3>
            <dl class="mt-2 divide-y divide-gray-200 border-t border-b border-gray-200">
              <div class="flex justify-between py-3 text-sm font-medium items-center">
                <dt class="text-gray-500">Phone</dt>
                <dd class="whitespace-nowrap text-gray-900">{{ location.phone }}</dd>
              </div>
              <div class="flex justify-between py-3 text-sm font-medium items-center">
                <dt class="text-gray-500">Website</dt>
                <dd title="{{ location.website }}" class="truncate whitespace-nowrap ml-5 text-gray-900"> {{ location.website }} </dd>
              </div>
            </dl>
            <div class="flex justify-between mt-1 py-3 text-sm font-medium items-center">
                <button title="{{ location.phone }}" type="button" class="inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">
                  <!-- Heroicon name: link -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                  </svg>
                  <span class="pl-1"><a href="{{ location.website }}">Link</a></span>
                </button>
                <button title="{{ location.phone }}" type="button" class="inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">
                  <!-- Heroicon name: mini/phone -->
                  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                  </svg>
                  <span><a href="tel://+{{ location.phone }}">Call</a></span>
                </button>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>