{% extends 'base.html' %}
{% block title %}Onsite status{% endblock %}

{% block body %}
  <div class="container-fluid d-flex border-1 border-red">
    <div class="col-4">
      <h1>{{ welcome_msg }}!</h1>

      <h2>Navigation</h2>
      <ul>
        <li><a href="/locations">View all locations</a></li>
        <li><a href="/users">View all users</a></li>
      </ul>
    </div>

    <!-- <div class="col-6"> -->
      <section class="map col-8">
        <div id="map" style="height: 500px; width: 100%;"></div>
      </section>
    <!-- </div> -->
  </div>

  <script src="/static/js/map.js"></script>

  <!-- Google Maps -->
  <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initMap"></script>
{% endblock %}
