{% extends 'base.html' %}

{% block title %}{{ location.name }} - Details{% endblock %}

{% block body %}
  <div>{{ location.name }},  {{ location.lat }}, {{ location.long }}</div>
  {% include 'comments.html' %}

  <script>
    const locationAddr = "{{ location.addr }}";
    // const locationLong = parseFloat("{{ location.long }}");
    // const locationLat  = parseFloat("{{ location.lat  }}");
    const locationLat  = parseFloat("{{ 150.3984 }}");
    const locationLong = parseFloat("{{ -221.9752 }}");
  </script>

  <script src="/static/js/mapLocation.js">
    // locationAddr = "{{ location.addr }}";
    // locationLong = "{{ location.long }}";
    // locationLat  = "{{ location.lat  }}";
  </script>
  <script src="/static/js/updateComment.js"></script>

  <!-- Google Maps -->
  <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initMapLocation"></script>
{% endblock %}
